{deps, [{lager, "~>3.2.1"}]}.

{erl_opts, [debug_info,
	   nowarn_export_all,
           warnings_as_errors,
           warn_untyped_record,
           {platform_define, "^[0-9]+", namespaced_types},
           {platform_define, "^((1[8|9])|2)", rand_module},
           {platform_define, "^2", gen_statem_module},
           {parse_transform, lager_transform}]}.

{eunit_opts, [verbose]}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.

{profiles, [{test, [{deps, [{riak_test, ".*", {git, "git://github.com/basho/riak_test", {branch, "develop"}}}]}]}]}.


%% == Dialyzer ==
%%
{dialyzer, [
  {warnings, [
   race_conditions,
    no_return,
    unmatched_returns,
    error_handling%,
    %unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "riak_ensemble"},
  {base_plt_location, "."},
  {base_plt_prefix, "riak_ensemble"}
]}.
